.desktop {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .BG-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}

.desktop .rectangle {
  position: absolute;
  top: 201px;
  left: 490px;
  width: 460px;
  height: 622px;
  background-color: #b9c2ce8c;
  border-radius: 25px;
  box-shadow: 5px 5px 4.9px 1px #6d67512e;
  backdrop-filter: blur(29.35px) brightness(100%);
  -webkit-backdrop-filter: blur(29.35px) brightness(100%);
}

.desktop .div {
  position: absolute;
  top: 262px;
  left: 490px;
  width: 460px;
  height: 561px;
  border-radius: 25px;
  box-shadow: 5px 5px 4.9px 1px #6d67512e;
  backdrop-filter: blur(29.35px) brightness(100%);
  -webkit-backdrop-filter: blur(29.35px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(210, 218, 228, 1) 100%
  );
}

.desktop .text-wrapper {
  position: absolute;
  top: 333px;
  left: 666px;
  font-family: "KyivType Sans-Regular", Helvetica;
  font-weight: 400;
  color: #4a4a4a;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 224px;
  left: 816px;
  font-family: "KyivType Sans-Regular-", Helvetica;
  font-weight: 400;
  color: #4a4a4a;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 430px;
  left: 540px;
  width: 360px;
  height: 52px;
  background-color: #f3f2ef;
  border-radius: 12px;
  box-shadow: inset -1px -2px 4px 1px #ccc3b84c;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 505px;
  left: 540px;
  width: 360px;
  height: 52px;
  background-color: #f3f2ef;
  border-radius: 12px;
  box-shadow: inset -1px -2px 4px 1px #ccc3b84c;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 580px;
  left: 540px;
  width: 360px;
  height: 52px;
  background-color: #6d7a8a;
  border-radius: 12px;
  box-shadow: inset -1px -2px 4px 1px #ccc3b84c;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 512px;
  left: 561px;
  width: 178px;
  height: 38px;
  display: -webkit-box;
  align-items: center;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 437px;
  left: 561px;
  width: 178px;
  height: 38px;
  display: -webkit-box;
  align-items: center;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 587px;
  left: 631px;
  width: 178px;
  height: 38px;
  display: -webkit-box;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #f4f2ef;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.desktop .generic-avatar {
  position: absolute;
  top: 436px;
  left: 839px;
  width: 40px;
  height: 40px;
}
